@media (max-width: 1024px) {
    .content__float {
        display: block;
    }
    
    .float-menu {
        display: none;
    }
    .flex-container {
        display: block;
    }
    .content__float {
        display: block;
    }
    
    .float-menu {
        display: none;
    }
    
    .footer__container {
        display: block;
    }
    
    .footer__social {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .col-6 {
		width: 100%;
	}
    .only-mob {
        display: block;
    }
    .footer__container {
        display: block;
    }
    
    .works__item {
        display: block;
    }
    
    .works__item::before {
        display: none;
    }
    
    .works__logo {
        width: 100%;
        height: 40vh;
        box-sizing: border-box;
        margin: 0;
    }
}