@import 'partials/fonts';
html,
body {
	margin: 0;
	padding: 0;
	// font-family: Montserrat,sans-serif; //temp
}

.container {
	max-width: 1120px;
	padding: 0 20px;
	margin: 0 auto;
}
.flex-container {
	display: flex;
}
.col-half {
	width: 50%;
}
.col-45 {
	width: 45%;
}
.col-55 {
	width: 55%;
}
.center {
	text-align: center;
	margin: 0 auto;
}

.flame {
	width: 27px;
	height: 24px;
	margin-bottom: 14px;
	&__ico {
		width: 100%;
	}
}
.ico-flame {
	width: 50px;
	height: 68px;
	background: url('../images/flame_ico.png')no-repeat;
}

.link-circle {
	position: relative;
	display: inline-block;
	// margin: auto;
	font-family: 'Lato';
	font-size: 20px;
	line-height: 23px;
	padding: 16px 37px;
	background: none;
	border: none;
	outline: none;
	transition: all .2s ease;
	text-decoration: none;
	color: #010000;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 28px;
		background: rgba(#ffad91, .5);
		width: 56px;
		height: 56px;
		transition: all .3s ease;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		cursor: pointer;
		&:before {
			width: 100%;
			background: rgba(#ff4200, 1);
		}
	}
}

.link-with-arrow {
	position: relative;
	display: block;
	font-family: 'Lato';
	font-size: 24px;
	line-height: 24px;
	color: #212121;
	text-decoration: none;
	transition: all .3s;
	&:hover {
		color: #ff0000;
		&:after {
			transition: right .3s;
			right: -5px;
			background: url('../images/arrow.png');
		}
	}
	&:after {
		position: absolute;
		right: 0;
		content: '';
		display: inline-block;
		width: 97px;
		height: 22px;
		vertical-align: top;
		margin-top: 4px;
	}
}
body.active {
	overflow: hidden;
}
.active .header__logo .icon {
	transition: fill .3s;
	fill: #231f20;
}
.active .menu-ico .line {
	background: #ff0000;
}
.header {
	height: 100vh;
	.container {
		position: relative;
	}
	&--half {
		height: 75vh;
	}
	&__logo {
		display: block;
		position: relative;
		left: -18px;
		z-index: 3;
		width: 122px;
		height: 92px;
		overflow: hidden;
		& .icon {
			fill: #fff;
			width: 100%;
			transition: fill .3s;
		}
		&:hover .icon {
			fill: #f00;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 79px;
	}
}

.menu-ico {
	position: relative;
    z-index: 3;
	> div {
		width: 30px;
		height: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover, &:focus {
		  outline: none;
		}
	  }
	.line {
		height: 2px;
		width: 100%;
		background: #fff;
		margin: 2px auto;
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	&.active {
		.line:nth-child(1) {
			transform: rotate(45deg) translate(8px, 7px);
		}
		.line:nth-child(2) {
			visibility: hidden;
		}
		.line:nth-child(3) {
			transform: rotate(-45deg) translate(7px, -6px);
		}
		&+.main-menu {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}
.main-menu{
	position: fixed;
	padding: 120px 0;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background: #e1e1e1;
	box-sizing: border-box;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transform: scale(.5);
	transition: all .3s;
	.container {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}
	&__block {
		// width: 58%;
		float: left;
	}
	&__item {
		position: relative;
		vertical-align: top;
		&--submenu {
			&:hover {
				.main-menu__submenu {
					display: flex;
				}
				&>a {
					color: #ff0000;
				}
			}
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-transform: uppercase;
	}
	&__submenu {
		display: none;
		position: absolute;
		top: 25px;
		min-width: 150px;
		margin: 0;
		padding: 0;
		list-style: none;
		left: 100%;
		cursor: pointer;
		&:before {
			flex-shrink: 0;
			content: '';
			display: inline-block;
			background: url(../images/arrow.png) center right no-repeat;
			width: 8vw;
			height: 22px;
			vertical-align: top;
			margin-right: 2vw;
		}
	}
	&__submenu-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__submenu-item {
		margin-bottom: 20px;
	}
	&__submenu-link {
		font-size: 16px;
		line-height: 21px;
		font-weight: 400;
		font-family: 'Lato';
		color: #000;
		text-transform: initial;
		text-decoration: none;
		white-space: nowrap;
		transition: color .3s;
		&:hover {
			color: #ff0000;
		}
	}
	&__link {
		font-size: 36px;
		font-family: 'Anton';
		text-decoration: none;
		color: #000000;
		transition: color .3s;
		&:hover {
			color: #ff0000;
		}
	}
}
.header-contact {
	align-self: flex-end;
	// width: 42%;
	float: left;
	&__title {
		font-family: 'Anton';
		font-size: 55px;
	}
	&__email {
		display: inline-block;
		margin: 20px 0 30px;
		font-family: 'Lato';
		font-size: 23px;
		text-decoration: none;
		color: #000000;
		transition: color .3s;
		&:hover {
			color: #f00;
		}
	}
	&__ico {
		display: inline-block;
		width: 35px;
		height: 35px;
		&:not(:last-child) {
			margin-right: 35px;
		}
		.icon {
			width: 100%;
			transition: fill .3s;
		}
		&:hover .icon {
			fill: #f00;
		}
	}
}
.video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	// 100vh//100% full height
	// min-height: 680px;
	// background: url("../images/video_bg.png") center center/100% no-repeat;
	z-index: 0;
	overflow: hidden;
	&--bg {
		background-repeat: no-repeat;
		background-size: cover;
	}
	&--half {
		height: 75vh;
	}
	&__logo {
		position: absolute;
		width: 294px;
		height: 294px;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: center;
		transform: translate(-50%, -50%);
	}
	&__logo-img {
		max-width: 200px;
		display: block;
		max-height: 200px;
		margin: 0 auto;
		flex-grow: 1;
		width: 100%;
	}
	&__center {
		padding: 12vw 0;
		text-align: center;
	}
	& .ico-flame {
		margin: 0 auto;
	}
	&__flame {
		width: 50px;
		height: 68px;
		margin: 0 auto;
		background: url('./assets/img/flame_ico.png')no-repeat;
	}
	&__text {
		width: 200px;
		margin: 0 auto;
		font-size: 60px;
		line-height: 90px;
		color: #ffffff;
	}
}

.main_page_header_video {
	position: absolute;
	object-fit: cover;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1000;
}

.content {
	&__float {
		display: flex;
	}
	&__container {
		width: 100%;
		&--half {
			width: 54%;
		}
	}
	.about {
		padding-top: 80px;
	}
	&__item + &__item {
		margin-top: 80px;
		&--small {
			margin: 0;
		}
	}
	.title {
		margin: 0;
		margin-top: -5px;
		padding: 0;
		font-family: Anton;
		font-size: 56px;
		line-height: 65px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 80px;
		max-width: 600px;
		margin-top: 40px;
		font-size: 16px;
		line-height: 21px;
		font-family: Lato;
		font-weight: 400;
		color: #212121;
	}
}

.float-menu {
	width: 22.5%;
	flex-shrink: 0;
	margin-top: 34px;
	&__block {
		&.in_footer:not(.next-page) {
			bottom: -345px !important;
			& .float-menu__link {
				color: #ffffff;
				&:after {
					background: #ffffff;
					// width: 0;
				}
				&.active:after  {
					width: 10px;
				}
				&--active:after {
					width: 0;
				}
				&:hover:after {
					width: 10px;
				}
			}
			& .flame__ico {
				fill: #fff;
			}
		}
		list-style-type: none;
		padding: 0;
		margin: 0;
		&.stickydiv {
   			position: fixed;
   			top: 0;
   			z-index: 10000;
   			margin-top:12px;
   		}
   	}
	&__item {
		position: relative;
		padding-bottom: 4px;
		margin-bottom: 4px;
	}
	&__link {
		position: relative;
		font-family: Anton;
		font-size: 18px;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		transition: color .3s;
		&:after {
			position: absolute;
			bottom: -5px;
			content: '';
			display: block;
			width: 0px;
			height: 5px;
			background: #f00;
			transition: width .3s;
		}
		&.active,
		&:hover {
			color: #f00;
			&:after {
				width: 10px;
			}
		}
		&--active {
			color: #f00;
			&:after {
				width: 10px;
			}
		}
	}
}
.content-container {
	width: 75%;
}

.works {
	margin-bottom: 50px;
	padding-top: 45px;
	counter-reset: item;
	&__item {
		display: flex;
		padding-bottom: 50px;
		&::before {
			width: 68px;
			display: inline-block;
			counter-increment: item;
			content: counter(item, decimal-leading-zero) ". ";
			font-size: 56px;
			font-family: Anton;
			line-height: 36px;
		}
	}
	&__logo {
		position: relative;
		width: 34%;
		height: 240px;
		padding: 0 12px;
		margin-left: 4%;
		flex-shrink: 0;
		&.fade:after {
			content: '';
			position: absolute;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			box-sizing: border-box;
			background: rgba(0, 0, 0, .5);
		}
	}
	&__details {
		flex: 1 0 auto;
	    display: flex;
	    flex-direction: column;
		margin-left: 7%;
		// width: 45%;
		&--wrap {
			flex: 1;
		}
	}
	&__text {
		margin-top: 20px;
		font-family: 'Lato';
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
	}
	&__link {
		margin-top: 40px;
	}
	&__read {
		line-height: 22px;
		padding: 5px 21px;
		font-size: 12px;
		&:before {
			width: 32px;
			height: 32px;
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			height: 14px;
			width: 18px;
			fill: #1E201D;
			transition: fill .3s;
		}
		&:hover .icon {
			fill: #fff;
		}
	}
	&__name {
		margin-top: auto;
		font-family: Lato;
		font-weight: 600;
		font-size: 36px;
	}
	&__category {
		font-family: Lato;
		font-weight: 400;
		font-size: 24px;
	}
	&__about {
		position: relative;
		display: block;
		margin-top: auto;
		font-family: Lato;
		font-weight: 400;
		font-size: 24px;
		color: #ff0000;
		text-decoration: none;
		&:after {
			position: absolute;
			right: 0;
			content: '';
			display: inline-block;
			background: url('../images/arrow.png');
			width: 97px;
			height: 22px;
			vertical-align: top;
			margin-top: 4px;
		}
	}
	&__see-more {
		margin-left: 88px;
	}
}

.service {
	&__block {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		padding-bottom: 48px;
	}
	&__link {
		@extend .link-with-arrow;
	}
}

.footer {
	margin-top: 80px;
	background: #000000;
	color: #ffffff;
	&__col {
		width: 25%;
	}
	&__logo {
		display: block;
		width: 225px;
		height: 169px;
		& .icon {
			fill: #fff;
			width: 100%;
		}
	}
	&__container {
		width: 75%;
		display: flex;
	}
	&__title {
		width: 55%;
		color: #ffffff;
		font-family: Anton;
		font-size: 56px;
	}
	&__social {
		width: 45%;
		flex-grow: 1;
		align-self: center;
		padding: 140px 0 80px;
	}
	&__email {
		display: block;
		margin-bottom: 35px;
		font-family: 'Lato';
		font-weight: 600;
		text-decoration: none;
		font-size: 30px;
		color: #ffffff;
	}
	&__social-link {
		display: block;
		width: 35px;
		height: 35px;
		margin-bottom: 40px;
		overflow: hidden;
		& .icon {
			fill: #fff;
			transition: fill .3s;
		}
		&:hover .icon {
			fill: #f00;
		}
	}
	&__copy {
		font-family: 'Lato';
		font-weight: 400;
		font-size: 14px;
		line-height: 46px;
		color: #ffffff;
		&::before {
			content: '';
			display: block;
			width: 16px;
			height: 7px;
			background: #fff;
		}
	}
}
.only-mob {
	display: none;
}
// works
.nav_items {
	display: flex;
	align-items: flex-end;
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 20px;
	height: 90%;
	justify-content: space-between;
}
.header_title {
	margin-bottom: 13px;
	font-family: 'Anton';
	font-size: 6em;
	line-height: 1em;
	color: #ffffff;
}
.header_next {
	position: relative;
	margin-bottom: -40px;
	font-family: 'Lato';
	font-size: 18px;
	color: #ff0000;
	text-decoration: none;
	transition: color .3s;
	.icon {
		display: inline-block;
		margin-left: 20px;
		width: 90px;
		vertical-align: middle;
		fill: #ff0000;
		transition: fill .3s;
	}
	&:hover {
		color: #fff;
		.icon {
			fill: #fff;
		}
	}
}

.project {
	margin-bottom: 50px;
	&__title {
		margin: 0;
		padding: 0;
		font-family: 'Anton';
		font-size: 56px;
		color: #000000;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 16px !important;
	}
	&__preview {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 20px;
	}
	&__preview-half {
		width: 48%;
		margin-bottom: 30px;
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			height: auto;
		}
	}
	&__preview-full {
		margin-bottom: 30px;
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			height: auto;
		}
	}
}
.float-menu--right {
	width: 20%;
	margin-left: 2.5%;
	a {
		display: inline-block;
		color: #f00;
		text-decoration: none;
	}
	.icon {
		width: 92px;
		height: 92px;
		margin-left: 32px;
		margin-top: -34px;
		display: inline-block;
		vertical-align: top;
		fill: #f00;
	}
}
.next-page {
	&__text {
		font-family: 'Lato';
		font-size: 18px;
		font-weight: 600;
		display: inline-block;
	}
}
@import 'partials/media'